* {
  box-sizing: border-box;
}

.App {
  margin: 50px auto;
  text-align: center;
  padding: 20px;
  width: 600px;
  max-width: 90%;
}

.text {
  font-size: 1.8rem;
}
.author {
  font-size: 1.3rem;
  text-align: right;
  font-style: italic;
  display: block;
}

.btn-tweet {
  margin-right: 10px;
  font-size: 2rem;
}
.btn-new-quote {
  padding: 10px 15px;
  text-transform: uppercase;
  margin: 0;
  margin-left: 10px;
  background: #95c909;
  border: 2px solid #95c909;
  color: white;
}